/* Existing styles for .info-links */
.info-links {
    display: flex;
    justify-content: center;
    gap: 1rem; /* Adjust the gap between links as needed */
}

.info-links a {
    color: #AAB6A1;
    padding: 0.5rem;
    font-size: 20px;
}

@media (max-width: 1024px) {
    .info-links {
        flex-direction: column;
        gap: 0.01rem;
    }

    .info-links a {
        padding: 0.5rem;
    }
}


@media screen and (max-width: 1280px){
    .info-links a {
      font-size: smaller
    }  
    
  }
    