.info-section {
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;

  }
  
.info-section p {
    text-align: left;
    margin-bottom: 0.25rem;
}

#header-text {
    font-size: 24px;
    color: #4B4737;
    padding-bottom: 1rem;

}

#paragraph-text {
    font-size: 20px;
    font-style: italic;
    padding-right: 10rem;
    color: #625E4E;
}