html {
  height: 100%;
}

body {
  background-color: #F3EFE3;
  height: 100%;
  overflow: hidden
}

.App {
  text-align: center;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 2rem; 


}

.App-header {
  font-size: 1.5rem;
  border-bottom: 2px solid #4B4737; 
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 100%;
}


.App-header a {
  color: #585C46;
  margin-left: 1rem;
  margin-right: 0;
  align-self: flex-start;
  text-decoration: none;
}



.Content {
  display: flex;
  height: 88.25vh; 
  width: 100%; 
}

.LeftColumn {
  flex: 1 0 45%; 
  display: flex;
  flex-direction: column;
  border-right: 2px solid #4B4737;
}

.WorksSection {

  flex-grow: 1;
}

.underline {
  display: block;
  height: 2px;
  background-color: #4B4737; 
  width: 0;
  transition: width 0.25s linear;


}

*:hover > .underline, .active > .underline {
  width: 100%;

}

@media screen and (max-width: 1280px){
  h4 {
    font-size: small;

  }  
}

@media screen and (max-width: 1280px) and (max-height: 720px) {
  p, h1, h2, h3, h4 {
    font-size: smaller;
  }  
  
}

@media screen and (min-width: 1024px) and (max-width: 1350px) {
  .App { 
    overflow: hidden
  }

}

@media (max-width: 768px) {
  .Content {
    flex-direction: column;
  }

  .LeftColumn,
  .WorksSection {
    border-right: hidden;
  }

  .WorksSection {
    border-top: 2px solid #4B4737;

  }

  body {
    overflow:auto;
  }

  .work-selection-header h2{
    align-items:center;
  }

  .App {
    margin: 0 1rem;
  
  
  }
  
}

@media screen and (max-width: 1024) {
  .App {
    margin: 0; 
  }

  body {
    overflow:auto;
  }
}
